@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: light-dark(oklch(1 0 0), oklch(0.18 0 0));
  --color-foreground: light-dark(oklch(0.129 0.042 264.695), oklch(0.984 0.003 247.858));
  --color-card: light-dark(oklch(1 0 0), oklch(0.24 0 0));
  --color-card-foreground: light-dark(oklch(0.129 0.042 264.695), oklch(0.984 0.003 247.858));
  --color-popover: light-dark(oklch(1 0 0), oklch(0.24 0 0));
  --color-popover-foreground: light-dark(oklch(0.129 0.042 264.695), oklch(0.984 0.003 247.858));
  --color-primary: light-dark(oklch(0.24 0 0), oklch(0.929 0.013 255.508));
  --color-primary-foreground: light-dark(oklch(0.984 0.003 247.858), oklch(0.24 0 0));
  --color-secondary: light-dark(oklch(0.968 0.007 247.896), oklch(0.27 0 0));
  --color-secondary-foreground: light-dark(oklch(0.24 0 0), oklch(0.984 0.003 247.858));
  --color-muted: light-dark(oklch(0.968 0.007 247.896), oklch(0.27 0 0));
  --color-muted-foreground: light-dark(oklch(0.554 0.046 257.417), oklch(0.704 0 0));
  --color-accent: light-dark(oklch(0.85 0.007 247.896), oklch(0.38 0 0));
  --color-accent-foreground: light-dark(oklch(0.24 0 0), oklch(0.984 0.003 247.858));
  --color-destructive: light-dark(oklch(0.577 0.245 27.325), oklch(0.704 0.191 22.216));
  --color-border: light-dark(oklch(0.929 0.013 255.508), oklch(1 0 0 / 10%));
  --color-input: light-dark(oklch(0.929 0.013 255.508), oklch(1 0 0 / 15%));
  --color-ring: light-dark(oklch(0.704 0 0), oklch(0.551 0.027 264.364));
  --color-sidebar: light-dark(oklch(0.984 0.003 247.858), oklch(0.24 0 0));
  --color-sidebar-foreground: light-dark(oklch(0.129 0.042 264.695), oklch(0.984 0.003 247.858));
  --color-sidebar-primary: light-dark(oklch(0.24 0 0), oklch(0.488 0.243 264.376));
  --color-sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --color-sidebar-accent: light-dark(oklch(0.968 0.007 247.896), oklch(0.32 0 0));
  --color-sidebar-accent-foreground: light-dark(oklch(0.24 0 0), oklch(0.984 0.003 247.858));
  --color-sidebar-border: light-dark(oklch(0.929 0.013 255.508), oklch(1 0 0 / 10%));
  --color-sidebar-ring: light-dark(oklch(0.704 0 0), oklch(0.551 0.027 264.364));
  --color-input-label: oklch(0.5658 0 0);

  --color-primary-green: #11cc27;
  --color-primary-green-light: #a7ffb9;
  --color-primary-green-hover: #5cb020;

  --radius-sm: calc(0.625rem - 4px);
  --radius-md: calc(0.625rem - 2px);
  --radius-lg: 0.625rem;
  --radius-xl: calc(0.625rem + 4px);
  --radius-2xl: calc(0.625rem + 8px);
  --radius-3xl: calc(0.625rem + 12px);
  --radius-4xl: calc(0.625rem + 16px);
}

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button,
  [role='button'] {
    cursor: pointer;
  }
}

.tsqd-open-btn-container {
  bottom: 80px !important;
}
